html {
    width:          100%;
    min-height:     100%; 
    background-color:   #fff; 
    width:              100%;
    min-height:     100%;
    padding:            0;
    margin:             0;   
}

body {
    font-family:    "Segoe UI", Tahoma, Helvetica, Arial, Sans-Serif;
    font-size:      62.5%;
    color:          #333;  
    background-color:   #fff; 
    width:              100%;
    min-height:     100%;
    padding:            0;
    margin:             0;
}

h1 {
    font-size:      2.8em;   
    font-weight:    bold;
    padding:        0 0 1.0em 0;
}

h2 {
    font-size:      2.6em;   
    font-weight:    bold;
    padding:        0 0 1.0em 0;
}

h3 {
    font-size:      2.4em;   
    font-weight:    bold;
    padding:        0 0 1.0em 0;
}

h4 {
    font-size:      2.2em;   
    font-weight:    bold;
    padding:        0 0 1.0em 0;
}

h5 {
    font-size:      2.0em;   
    font-weight:    bold;
    padding:        0 0 1.0em 0;
}

h6 {
    font-size:      1.8em;   
    font-weight:    bold;
    padding:        0 0 1.0em 0;
}

p {
    font-size:      1.6em;   
    padding:        0 0 1.0em 0;
}

a {
    color:  #c10;   
}

strong {
    font-weight:    bold;   
}

li {
    font-size:          1.6em;
    padding:            0 0 1.6em 1.6em;   
}




.container {
    background-color:   #eee;   
    margin:             0 auto;
}


.navigation ul {
    background-color:   #ccc;
}

.navigation li {
    display:    inline-block;
    background-color:   #000;
    padding:            10px;   
    margin:             0;
}

.navigation li a {
    color:  #fff;
    text-decoration:    none;
    font-weight:    bold;   
}

.sidebar {
    background-color:   #ddd;   
}

.footer {
    background-color:   #ddd;   
}

.copyright {
    background-color:   #ccc;   
}